---
# Project SCSS
---

@import '_susy';

$susy: (
  columns: 12,
  container: 1200px,
  gutters: 1/4,
  global-box-sizing: border-box,
  // debug: (image: show)
);

$breakpoint-no-query-fallbacks: true;
$bp1024: 1024px;
$bp1700: 1700px;

$abeezee: 'ABeeZee';
$opensans: 'Open Sans';
$adelle: 'Adelle';

$basefontsize: 14.5pt;
$navfontsize: 13pt;
$baselinehight: 1.38;

@mixin set-font($stretch, $variant, $weight, $size, $line, $family, $fallback, $default-padding: false) {
  font: #{$stretch} #{$variant} #{$weight} #{$size}/#{$line} #{$family}, #{$fallback};
}

body {
  @include set-font(normal, normal, normal, $basefontsize, $baselinehight, $adelle, serif);
}

h1 {
  @include set-font(normal, normal, normal, ($basefontsize * 3), ($baselinehight), $abeezee, sans-serif);
  padding-bottom: $baselinehight * 2;
}

article, main, nav {
  margin-bottom: gutter();
}

main {
  @include container;
  
  article {
  
    // global ---
    div {
      .highlight {
        background-color: #F5F5F5;
        padding: 1em;
        font-size: $basefontsize * 0.8;
      }
    }
    
    img {
      width: 100%;
    }
    
    p {
      > code {
        background-color: #F5F5F5;
        padding: 3px;
        font-size: $basefontsize * 0.9;
      }
    } // end of p tag
    
    table {
        border-collapse: separate;
        border-spacing: 0 5px; 
        width: 100%;
    
        tbody, thead {
          text-align: left;
          border-spacing: 3px;
        }
      
        tbody {
      
           tr {
            td {
              vertical-align: top;
              border-bottom: 1px dotted #4d4d4d; 
              border-collapse:separate;  
              border-spacing:5px 5px;
            }
            td:first-child {
              vertical-align: top;
              padding-right: 1em;
            }
          }
        }
      
        thead {
          text-transform: uppercase;
        
          tr {
            th {
              border-top: 1px solid #4d4d4d; 
              border-bottom: 1px solid #4d4d4d; 
              border-collapse:separate;  
              border-spacing:5px 5px;
              padding-right: 1em;
            }
          }
        }
      }
    
    ul {
      padding: 0 0 0 1em;
    }
    @include span(12 last);
    
    @include susy-breakpoint($bp1024, $susy) {
      @include span(8 last);
      margin-top: $basefontsize * 1.9;
    }
    
    @include susy-breakpoint($bp1700, $susy) {
      @include span(9 last);
    }
  }
  
  header {
    @include span(12 last);
      margin-top: ($baselinehight * $basefontsize) * 2;
      
    @include susy-breakpoint($bp1024, $susy) {
      @include span(8 last);
      margin-top: ($baselinehight * $basefontsize) * 6;
      border-bottom: 1px solid #D4D4D4;
    }
    
    @include susy-breakpoint($bp1700, $susy) {
      @include span(9 last);
    }
  
  } // end of header
  
  nav {
    
    // global ---
    position: fixed;
    z-index: 10;
    background-color: #fff;
    padding-top: ($baselinehight * $basefontsize) * 2;
    display: block;
    
    ul {
      list-style: none outside;
      padding: 0 0 ($baselinehight * $basefontsize) 0;
      margin: 0;
      
      li {
        border-bottom: 1px solid #D4D4D4;
        
        a {
          width: 100%;
          text-decoration: none;
          line-height: $baselinehight * 2;
          color: #000;
        }
      }
    }
    
    @include span(12 last);
  
    @include susy-breakpoint($bp1024, $susy) {
      @include span(3);
      padding: 0 0 1em 0;
      border-right: 1px solid #D4D4D4;
    }
    
    @include susy-breakpoint($bp1700, $susy) {
      @include span(1.8);
      @include set-font(normal, normal, normal, $navfontsize, $baselinehight, $abeezee, sans-serif);
    } // end of bp1024
  } // end of nav
  
} // end of main

#topline {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #F5F5F5;
  z-index: 15;
  height: ($basefontsize * $baselinehight) * 2;
  
  #btn_mobilenav {
    height: ($basefontsize * $baselinehight) * 0.05;
    display: inline-block;
    margin-left: 1em;
    vertical-align: middle;
    z-index: 25;
  }
  
  @media (min-width: $bp1024) {
    height: 0.5em;
    
    #btn_mobilenav {
      display: none;
    }
  }

  
  
} // end of id topline


#footerline {

  width: 100%;
  display: block;

  p {
    margin-top: 0;
    margin-bottom: 0;
  }
  @media (min-width: $bp1700) {
    height: 10 * ($basefontsize * $baselinehight);
    background-color: #0A1C07;
  }

  footer {
   
    @include set-font(normal, normal, normal, $navfontsize, $baselinehight, $abeezee, sans-serif);

    div {
    
      div {
        @include span(12 last);
        border-top: 1px solid #D4D4D4;
        padding: ($basefontsize * $baselinehight) 0;
      }
    
    }

      
      @include susy-breakpoint($bp1024, $susy) {
        
        
        div {
    
          div {
           @include span(6); 
        
          } // end of inner div
        } // end of outer div
        
      }
      
      @include susy-breakpoint($bp1700, $susy) {
        
        
        div {
    
          div {
            @include span(3);
        
          } // end of inner div
        } // end of outer div
    } // end of $bp1700
  } // end of footer
} // end of id footerline

#logobar {
 position: fixed;
  top: 0;
  right: 20px;
  clear: both;
  z-index: 20;
  
  img {
    display: none;
  }
  
  @media (min-width: $bp1024) {
    img {
    display: inline-block;
    margin-left: 5px;
    padding: 10px;
    float: left;
    height: 40px;
    background-color: #fff;
    border: 1px solid #F5F5F5;
    box-shadow: 0px 2px 4px #D4D4D4;
    }  
  }

} // end of id logobar

