<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  <div class="wrapper">
    <div style="display:flex;margin-bottom:0.85em;padding-top: 0.85em;padding-bottom: 0.85em;">
      <div style="flex: 0 0 auto;width:100px;">
        <img src="https://gitlab.com/extendscript-cep/project/-/raw/master/logo/export/master.png" style="display:block;height:auto;width:100%">
      </div>
      <div style="flex: 1 1 auto;padding-left:1.3em;">
        <p style="font-size:0.9em;font-weight:bold;">Unabhängige Dokumentation zu den Themen Adobe ExtendScript, CEP und XML. Zusammengetragen durch eine Gruppe von Freiwilligen.</p>
      </div>
    </div>
  </div>
</footer>
